.compare__container {
  margin-top: 64px;
  background-image: url(../images/simple_dashed.png);
  background-size: 20px;
  height: calc(100vh - 64px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.middle-row {
  background-color: rgb(0, 78, 0);
  flex-grow: 1;
}

.grid-middle {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}

.grid-left,
.grid-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.owner-one,
.owner-one-stats,
.owner-two,
.owner-two-stats {
  background-color: rgba(15, 126, 0);
}

@media screen and (max-width: 600px) {
  .compare__container {
    margin-top: 0;
    height: 100vh;
  }
}