.swiper-initialized {
  --swiper-navigation-size: 40px;
  --swiper-navigation-color: var(--primary-color);
  --swiper-pagination-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-color: var(--primary-color);
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: red;
}

.owners__container {
  margin-top: 64px;
  background-image: url(../images/simple_dashed.png);
  background-size: 20px;
  height: calc(100vh - 64px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.column {
  background-color: rgb(126, 0, 0, 0.5);
}

.middle-row-owner-view {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  flex-grow: 1;
}

.grid-middle-owner-view {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
}

.owner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--swiper-transition);
}

/* TESTING BELOW */
.by-year-owner-view {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.owner-wrapper-test {
  position: absolute;
  display: flex;
  gap: 1rem;
  height: 60%;
  align-items: center;
}

.owner-test-card {
  position: absolute;
  top: 0;
  left: 0;
  
  border-radius: 100%;
  height: 0px;
  width: 0px;
  font-size: 0rem;
  color: white;
  border: 0px solid transparent;

  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: var(--swiper-transition);
}

.owner-test-card img {
  height: 0px;
  width: 0px;
  border: 8px solid var(--primary-color);
  border-radius: 100%;
  transition: var(--swiper-transition);
}

/* PREV X4, X5, X6, X7, X8, X9, X10, X11 */
.owner-test-card.prev-x4,
.owner-test-card.prev-x5,
.owner-test-card.prev-x6,
.owner-test-card.prev-x7,
.owner-test-card.prev-x8,
.owner-test-card.prev-x9,
.owner-test-card.prev-x10,
.owner-test-card.prev-x11 {
  transform: translate(-350px, -50%);
  font-size: 0rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: var(--swiper-transition);
}

.owner-test-card.prev-x4 img,
.owner-test-card.prev-x5 img,
.owner-test-card.prev-x6 img,
.owner-test-card.prev-x7 img,
.owner-test-card.prev-x8 img,
.owner-test-card.prev-x9 img,
.owner-test-card.prev-x10 img,
.owner-test-card.prev-x11 img {
  height: 0px;
  width: 0px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

/* PREV PREV PREV */
.owner-test-card.prev-prev-prev {
  transform: translate(-300px, -50%);
  font-size: 0rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: var(--swiper-transition);
}

.owner-test-card.prev-prev-prev img {
  height: 0px;
  width: 0px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

/* PREV PREV */
.owner-test-card.prev-prev {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-220px, -50%);
  font-size: 0.3rem;
  opacity: 0.2;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: var(--swiper-transition);
}
.owner-test-card.prev-prev img {
  height: 25px;
  width: 25px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

/* PREV */
.owner-test-card.prev {
  transform: translate(-160px, -50%);
  font-size: 0.5rem;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: var(--swiper-transition);
}
.owner-test-card.prev img {
  height: 50px;
  width: 50px;
  margin-bottom: 0.1rem;
  border: 4px solid var(--primary-color);
  transition: var(--swiper-transition);
}

/* ACTIVE */
.owner-test-card.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  
  border-radius: 100%;
  height: 120px;
  width: 120px;
  font-size: 0.9rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.owner-test-card.active img {
  height: 100px;
  width: 100px;
  margin-bottom: 0.2rem;
  border: 7px solid var(--primary-color);
  transition: var(--swiper-transition);
}

/* NEXT */
.owner-test-card.next {
  transform: translate(40px, -50%);
  font-size: 0.5rem;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: var(--swiper-transition);
}
.owner-test-card.next img {
  height: 50px;
  width: 50px;
  margin-bottom: 0.1rem;
  border: 4px solid var(--primary-color);
  transition: var(--swiper-transition);
}

/* NEXT NEXT */
.owner-test-card.next-next {
  transform: translate(100px, -50%);
  font-size: 0.3rem;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: var(--swiper-transition);
}
.owner-test-card.next-next img {
  height: 25px;
  width: 25px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

/* NEXT NEXT NEXT */
.owner-test-card.next-next-next {
  transform: translate(200px, -50%);
  font-size: 0rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: var(--swiper-transition);
}

.owner-test-card.next-next-next img {
  height: 0px;
  width: 0px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

/* NEXT X4, X5, X6, X7, X8, X9, X10, X11 */

.owner-test-card.next-x4,
.owner-test-card.next-x5,
.owner-test-card.next-x6,
.owner-test-card.next-x7,
.owner-test-card.next-x8,
.owner-test-card.next-x9,
.owner-test-card.next-x10,
.owner-test-card.next-x11 {
  transform: translate(250px, -50%);
  font-size: 0rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: var(--swiper-transition);
}

.owner-test-card.next-x4 img,
.owner-test-card.next-x5 img,
.owner-test-card.next-x6 img,
.owner-test-card.next-x7 img,
.owner-test-card.next-x8 img,
.owner-test-card.next-x9 img,
.owner-test-card.next-x10 img,
.owner-test-card.next-x11 img {
  height: 0px;
  width: 0px;
  border: 0px solid transparent;
  transition: var(--swiper-transition);
}

.arrow-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.arrow-right {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--primary-color);
  transition: var(--transition);
}

.arrow-right,
.arrow-left {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.5rem;
  transition: var(--transition);
}

.arrow-left {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--primary-color);
  transition: var(--transition);
}

.arrow-left:hover,
.arrow-right:hover {
  color: white;
  transition: var(--transition);
}

.arrow-left:active,
.arrow-right:active {
  color: var(--primary-color-trans-active);
}

.page-icon {
  color: var(--primary-color);
  opacity: 0.4;
  transition: var(--swiper-transition);
  cursor: pointer;
}
.page-icon:hover {
  color: white;
}
.page-icon:active {
  color: var(--primary-color-trans-active);
}

.page-icon.active {
  opacity: 1;
  transition: var(--swiper-transition);
}

.pagination {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  gap: 0.4rem;
  font-size: 0.6rem;
  padding-bottom: 0.4rem;
  transform: translate(-50%, -50%);
  transition: var(--swiper-transition);
}

.dropdown-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color-trans);
  color: white;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin: 1rem 0 0 1rem ;
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
  display: flex;
  align-items: center;
}

.category-select-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-color-trans);
  color: white;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin: 1rem 1rem 0 0 ;
  display: flex;
  align-items: center;
}

.category-select-wrapper :last-child {
  padding-right: 0.5rem;
}

.category-select-wrapper :first-child {
  padding-left: 0.5rem;
}

.category-select-wrapper button {
  padding-right: 0.5rem;
  padding: 0.2rem 0 0.2rem 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.category-select-wrapper button.active {
  background-color: var(--primary-color);
}

.category-select-wrapper button:hover {
  background-color: var(--primary-color-trans-hover);
}

.category-select-wrapper :not(:last-child) {
  border-right: 1px solid var(--primary-color);
  padding-right: 0.3rem;
}

.category-select-wrapper :not(:first-child) {
  padding-left: 0.4rem;
}

.dropdown-wrapper:hover {
  background-color: var(--primary-color-trans-hover);
}

.owner-name {
  padding-right: 0.4rem;
  border-right: 1px solid var(--primary-color);
  font-size: 0.8rem;
  cursor: pointer;
}

.owner-name-dropdown:hover {
  background-color: var(--primary-color-trans);
}

.dropdown-arrow {
  padding-left: 0.2rem;
  cursor: pointer;
}

.owner {
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
}

.owner-name-dropdown {
  font-size: 0.8rem;
  cursor: pointer;
  /* padding: 0.2rem 0.3rem 0.2rem 0.6rem; */
}

.current-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: var(--primary-color)
}

.dropdown-owners-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1.7rem;
  border-radius: 10px;
  width: 150px;
  height: 110px;
  background-color: black;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.by-year-chart,
.by-year-owner-view {
  /* background-color: white; */
  border: 1px solid var(--primary-color);
  background-color: black;
  border-radius: 10px;
}

.recharts-default-tooltip {
  padding: 0;
}

.recharts-legend-item-text {
  font-size: 0.8rem;
}

.recharts-text tspan {
  font-size: 0.8rem;
}

.recharts-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.bar-chart {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  position: relative;
}

.year-select-wrapper {
  position: absolute;
  height: 30px;
  width: 75px;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-trans);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 0.8rem;
}

.year-select-wrapper:hover {
  background-color: var(--primary-color-trans-hover);
}

.year-select-wrapper-year {
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  border-right: 1px solid var(--primary-color);
}

.year-dropdown {
  display: none;
  background-color: black;
  position: absolute;
  height: 60px;
  width: 75px;
  top: 63px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow-y: scroll;
}

.year {
  cursor: pointer;
  padding-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.year.active {
  background-color: var(--primary-color-trans-active);
  font-weight: bold;
}

.year:hover {
  background-color: var(--primary-color-trans-hover);
}

.year-select-wrapper:last-child {
  padding-right: 0.4rem
}

.year-dropdown.open {
  display: block;
}
 
@media screen and (max-width: 600px) {
  .owners__container {
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .column {
    display: none;
  }
  .pagination {
    gap: 0.3rem;
  }

}