.owners__container {
  margin-top: 64px;
  background-image: url(../images/simple_dashed.png);
  background-size: 20px;
  height: calc(100vh - 64px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.column {
  background-color: rgb(126, 0, 0, 0.5);;
}

.middle-row {
  background-color: rgb(0, 78, 0);
  flex-grow: 1;
}

.grid-middle {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .owners__container {
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .column {
    display: none;
  }

}