.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: var(--transition);
  animation: animateModalBackground 300ms ease-in forwards;
}

.theme-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme__modal {
  background-color: white;
  padding: 2rem 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 25rem;
  max-width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  transition: var(--transition);
  opacity: 0;
  animation: animateModal 300ms ease-in forwards;
}

.theme__primary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.theme__primary-colors {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: white;
}

.theme__modal small {
  margin-top: 0.6rem;
}

.theme__header {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: white;
}

.theme__color-header {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.theme__primary-colors button {
  height: 2.5rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  transition: var(--transition);
}

.theme__primary-colors button.selected {
  border: 2px solid rgb(255, 51, 51);
}

.theme__primary-colors button:hover {
  border: 2px solid rgb(0, 0, 0);
  transition: var(--transition);
}

.theme__primary-colors button img {
  height: 75%;
  width: 75%;
}

.theme-icon:nth-child(1) button {
  background-color: rgba(0, 76, 84);
}

.theme-icon:nth-child(2) button {
  background-color: rgba(7, 27, 44);
}

.theme-icon:nth-child(3) button {
  background-color: rgba(200, 16, 46);
}

.theme-icon:nth-child(4) button {
  background-color: rgba(3, 70, 148);
}

.theme-icon:nth-child(5) button {
  background-color: rgba(12, 35, 64);
}

.theme-icon:nth-child(5) button img {
  height: 85%;
  width: 85%;
}

.theme-icon:nth-child(6) button {
  background-color: rgba(1, 35, 82);
}

.theme-triangle {
  opacity: 0;
}

.theme-triangle.show {
  opacity: 1;
}

@keyframes animateModal {
  to {
    opacity: 1;
  }
}
@keyframes animateModalBackground {
  to {
    opacity: 0.8;
  }
}