.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  transition: var(--transition);
}

.theme__modal {
  background-color: white;
  padding: 2rem 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 25rem;
  max-width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  transition: var(--transition);
}

.theme__primary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.theme__primary-colors {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: white;
}

.theme__modal small {
  margin-top: 0.6rem;
}

.theme__header {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: white;
}

.theme__color-header {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.theme__primary-colors button {
  height: 2.5rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: var(--transition);
}

.theme__primary-colors button:hover {
  border: 2px solid rgb(172, 172, 172);
  transition: var(--transition);
}

.theme__primary-colors button img {
  height: 75%;
  width: 75%;
}

.theme__primary-colors button:nth-child(1) {
  background-color: rgba(0, 76, 84);
}

.theme__primary-colors button:nth-child(2) {
  background-color: rgba(7, 27, 44);
}

.theme__primary-colors button:nth-child(3) {
  background-color: rgba(200, 16, 46);
}

.theme__primary-colors button:nth-child(4) {
  background-color: rgba(3, 70, 148);
}

.theme__primary-colors button:nth-child(5) {
  background-color: rgba(12, 35, 64);
}

.theme__primary-colors button:nth-child(5) img {
  height: 85%;
  width: 85%;
}

.theme__primary-colors button:nth-child(6) {
  background-color: rgba(1, 35, 82);
}