@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (width <= 400px) {
  html {
    font-size: .8rem;
  }
}

@media (width <= 315px) {
  html {
    font-size: .75rem;
  }
}