@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-hue: 270;
  --primary-color: rgba(0, 76, 84);
  --primary-color-background: rgba(0, 76, 84, 0.1);
  --primary-color-trans: rgba(0, 76, 84, 0.3);
  --primary-color-trans-hover: rgba(0, 76, 84, 0.5);
  --primary-color-trans-active: rgba(0, 76, 84, 0.7);
  --secondary-color: rgba(165, 172, 175);
  --tertiary-color: rgba(186, 202, 211);
  --tertiary-color-trans: rgba(0, 76, 84, 0.1);
  --black: rgba(0, 0, 0);
  --white: rgb(255, 255, 255);
  --transition: all 200ms ease;
  --swiper-transition: all 300ms ease;
}

* {
  font-family: 'Quicksand', sans-serif;
}

button {
  cursor: pointer;
}

#root {
  height: 100vh;
  width: 100vw;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.home {
  height: 100vh;
  width: 100vw;
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav {
  background-color: var(--primary-color);
  z-index: 99;
  display: flex;
}

nav a {
  font-weight: 500;
  color: var(--tertiary-color);
}

.navbar-list {
  display: flex;
  gap: 4rem;
}

.nav-link {
  color: var(--tertiary-color);
  transition: var(--transition);
}

.nav-link:hover a {
  color: var(--white);
  transition: var(--transition);
}

.nav-link:active a {
  color: var(--secondary-color);
  transition: var(--transition);
}

.established {
  position: absolute;
  font-family: 'Tilt Prism', cursive;
  color: white;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--primary-color)
}

.established-large {
  position: absolute;
  font-family: 'Tilt Prism', cursive;
  color: white;
  top: calc((100vh) / 11);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--primary-color);
  z-index: 999;
}

/* THEME change using react */

main.color-eagles {
  --primary-color: rgba(0, 76, 84);
  --primary-color-background: rgba(0, 76, 84, 0.1);
  --primary-color-trans: rgba(0, 76, 84, 0.3);
  --primary-color-trans-hover: rgba(0, 76, 84, 0.5);
  --primary-color-trans-active: rgba(0, 76, 84, 0.7);

  --secondary-color: rgba(165, 172, 175);
  --tertiary-color: rgba(186, 202, 211);
  --tertiary-color-trans: rgba(0, 76, 84, 0.1);
}

main.color-union {
  --primary-color: rgba(7, 27, 44);
  --primary-color-background: rgba(7, 27, 44, 0.1);
  --primary-color-trans: rgba(7, 27, 44, 0.3);
  --primary-color-trans-hover: rgba(7, 27, 44, 0.5);
  --primary-color-trans-active: rgba(7, 27, 44, 0.7);

  --secondary-color: rgba(62, 142, 222);
  --tertiary-color: rgba(177, 155, 105);
  --tertiary-color-trans: rgba(177, 155, 105, .03);
}

main.color-liverpool {
  --primary-color: rgb(150, 0, 0);
  --primary-color-background: rgba(150, 0, 0, 0.05);
  --primary-color-trans: rgba(150, 0, 0, 0.3);
  --primary-color-trans-hover: rgba(150, 0, 0, 0.5);
  --primary-color-trans-active: rgba(150, 0, 0, 0.7);

  --secondary-color: rgba(94, 18, 8);
  --tertiary-color: rgba(94, 18, 8);
  --tertiary-color-trans: rgba(150, 0, 0, .05);
}

main.color-chelsea,
main.color-yankees,
main.color-giants {
  --primary-color: rgb(55, 39, 2);
  --primary-color-background: rgb(55, 39, 2);
  --primary-color-trans: rgba(55, 39, 2, 0.3);
  --primary-color-trans-hover: rgba(55, 39, 2, 0.5);
  --primary-color-trans-active: rgba(55, 39, 2, 0.7);

  --secondary-color: rgba(135, 171, 8);
  --tertiary-color: rgba(135, 171, 8);
  --tertiary-color-trans: rgba(135, 171, 8, .03);
}

.poop-prank img {
  height: 500px;
  width: 500px;
}

.poop-prank {
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  width: 80%;
  height: 80%;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  .navbar-list {
    gap: 3rem;
  }
}

@media screen and (max-width: 825px) {
  .navbar-list {
    gap: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar-list li a {
    font-size: 0.8rem;
  }
  .poop-prank img {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .navbar .navbar-list {
    display: none;
  }
  .navbar {
    background-color: transparent;
  }
  nav {
    display: none;
  }
  .home-view__wrapper {
    height: 100vh;
  }
  .established-large {
    font-size: 1.6rem;
    top: calc((100vh) / 6);
  }
  .poop-prank img {
    height: 300px;
    width: 300px;
  }
}

